body {
    font-size: 20px;
    color: white;
    background-color: rgb(59, 104, 122);

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}
.burgerList {
    list-style-type: none;
}

.topAndBottom {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

